body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.cont-pad {
    padding-top: 120px;
    padding-bottom: 120px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

/* ======= HEADER SECTION =======*/
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.logo-accent {
    color: #2e2f42;
}
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.navig {
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-item {
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.nav-link.current {
    position: relative;
    color: #404bbf;
}
.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
}
.adres {
    font-style: normal;
}
.adres-list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    padding: 24px 0;
}
.adres-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-link:hover,
.adres-link:focus {
    color: #404bbf;
}
main {
    flex-grow: 1;
}

/* ======= HERO SECTION =======*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2e2f42;
    text-align: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    padding-top: 0;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.hero-but {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-but:hover,
.hero-but:focus {
    background-color: #404bbf;
}

/* ======= BENEFITS SECTION ======= */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benef-list {
    display: flex;
    gap: 24px;
}

.benef-item {
    flex-basis: calc((100% - 72px) / 4);
}

.benef-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: #f4f4fd;
}

.item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ======= TEAM SECTION ======= */
.team {
    background: #f4f4fd;
}

.team-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item .item-p {
    margin-bottom: 8px;
}

.item-hp {
    text-align: center;
    padding: 32px 0px;
}

.svg-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.svg-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.svg-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link:hover,
.svg-link:focus {
    background-color: #404bbf;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-soc {
    fill: #f4f4fd;
}

/* ======= PORTFOLLIO SECTION ======= */
.portf-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portf-list {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.portf-item {
    flex-basis: calc((100% - 48px) / 3);
}
.overlay-thumb {
    position: relative;
    overflow: hidden;
    overlay: auto;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-item:hover .overlay-text,
.portf-item:focus .overlay-text {
    transform: translateY(0);
}
.portf-item:hover,
.portf-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portf-hp {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

/* ======= FOOTER SECTION ======= */
.foot {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding-top: 100px;
    padding-bottom: 100px;
}
.foot .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
.logof-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.logof-sp {
    color: #f4f4fd;
}
.foot-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
.box-foot {
    margin-right: 120px;
}
.soc-foot {
    padding-bottom: 0px;
}
.socf-p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.soc-list {
    display: flex;
    gap: 16px;
}
.sub-soc {
    fill: #f4f4fd;
    margin-left: 16px;
}
.soc-foot .svg-link:hover,
.soc-foot .svg-link:focus {
    background-color: #31d0aa;
}
.sub-form {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}
.foot-form {
    margin-left: 80px;
}
.sub-label {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    flex-direction: column;
    margin-bottom: 16px;
}
.sub-input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: #ffffff;
}
.sub-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.sub-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-button:hover,
.sub-button:focus {
    background-color: #404bbf;
}

/* ======= MODAL SECTION ======= */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    padding: 72px 24px 24px 24px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
    fill: #ffffff;
}
.form-group {
    margin-bottom: 8px;
    border: 0;
}
.group-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.form-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    display: block;
}
.form-wrap {
    position: relative;
    margin-bottom: 8px;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus+.form-icon {
    fill: #4d5ae5;
}
.form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
}
.form-group-com {
    margin-bottom: 16px;
}
.textarea-input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    background-color: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-input:focus {
    border: 1px solid #4d5ae5;
}
.textarea-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.polici {
    margin-bottom: 24px;
}
.pol-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.pol-checkbox {
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    background-color: transparent;
    margin-right: 8px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked+.pol-label .pol-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}
.checkbox:focus+.pol-label .pol-checkbox {
    outline: 1px solid #404bbf;
}
.modlink {
    line-height: 1.34;
    text-decoration: underline;
    color: #4d5ae5;
}
.button-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
    background-color: #404bbf;
}